In [9]:
# Imports
import pandas as pd

In [10]:
# Read the Excel file
rawData = pd.read_excel('data/retail_sales.xlsx')

print(rawData.head().to_markdown())

|    |   Transaction ID | Date                | Customer ID   | Gender   |   Age | Product Category   |   Quantity |   Price per Unit |   Total Amount |
|---:|-----------------:|:--------------------|:--------------|:---------|------:|:-------------------|-----------:|-----------------:|---------------:|
|  0 |                1 | 2023-11-24 00:00:00 | CUST001       | Male     |    34 | Beauty             |          3 |               50 |            150 |
|  1 |                2 | 2023-02-27 00:00:00 | CUST002       | Female   |    26 | Clothing           |          2 |              500 |           1000 |
|  2 |                3 | 2023-01-13 00:00:00 | CUST003       | Male     |    50 | Electronics        |          1 |               30 |             30 |
|  3 |                4 | 2023-05-21 00:00:00 | CUST004       | Male     |    37 | Clothing           |          1 |              500 |            500 |
|  4 |                5 | 2023-05-06 00:00:00 | CUST005       | Male     |    30 | Beauty             |          2 |               50 |            100 |

In [11]:
rawData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   datetime64[ns]
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 70.4+ KB

In [12]:
rawData.describe().T

,count,mean,min,25%,50%,75%,max,std
Transaction ID,1000.0,500.5,1.0,250.75,500.5,750.25,1000.0,288.819436
Date,1000,2023-07-03 00:25:55.200000256,2023-01-01 00:00:00,2023-04-08 00:00:00,2023-06-29 12:00:00,2023-10-04 00:00:00,2024-01-01 00:00:00,NaN
Age,1000.0,41.392,18.0,29.0,42.0,53.0,64.0,13.68143
Quantity,1000.0,2.514,1.0,1.0,3.0,4.0,4.0,1.132734
Price per Unit,1000.0,179.89,25.0,30.0,50.0,300.0,500.0,189.681356
Total Amount,1000.0,456.0,25.0,60.0,135.0,900.0,2000.0,559.997632

In [13]:
# change column names to be snake case
cleanColNames = rawData.copy()
cleanColNames.columns = [col.lower().replace(' ', '_') for col in cleanColNames.columns]

print(cleanColNames.head().to_markdown())

|    |   transaction_id | date                | customer_id   | gender   |   age | product_category   |   quantity |   price_per_unit |   total_amount |
|---:|-----------------:|:--------------------|:--------------|:---------|------:|:-------------------|-----------:|-----------------:|---------------:|
|  0 |                1 | 2023-11-24 00:00:00 | CUST001       | Male     |    34 | Beauty             |          3 |               50 |            150 |
|  1 |                2 | 2023-02-27 00:00:00 | CUST002       | Female   |    26 | Clothing           |          2 |              500 |           1000 |
|  2 |                3 | 2023-01-13 00:00:00 | CUST003       | Male     |    50 | Electronics        |          1 |               30 |             30 |
|  3 |                4 | 2023-05-21 00:00:00 | CUST004       | Male     |    37 | Clothing           |          1 |              500 |            500 |
|  4 |                5 | 2023-05-06 00:00:00 | CUST005       | Male     |    30 | Beauty             |          2 |               50 |            100 |

In [14]:
# Verify that total_amount is correct given the quantity and price_per_unit
mathErrors = cleanColNames[cleanColNames['total_amount'] != (cleanColNames['quantity']*cleanColNames['price_per_unit'])]
print(len(mathErrors))

0

In [17]:
# Dropping Non-Descriptive Columns
print('Number of Records:', len(cleanColNames))

print('Number of Unique Customer_Ids:', len(cleanColNames['customer_id'].unique()))
print('Number of Unique Transaction_Ids:', len(cleanColNames['transaction_id'].unique()))

cleanData = cleanColNames.copy()
cleanData = cleanData.drop(columns=['transaction_id', 'customer_id'])

Number of Records: 1000
Number of Unique Customer_Ids: 1000
Number of Unique Transaction_Ids: 1000

In [18]:
# Save the DataFrame to a CSV file
print(cleanData.head().to_markdown())
cleanData.to_csv('data/clean_data.csv', index_label=False)

|    | date                | gender   |   age | product_category   |   quantity |   price_per_unit |   total_amount |
|---:|:--------------------|:---------|------:|:-------------------|-----------:|-----------------:|---------------:|
|  0 | 2023-11-24 00:00:00 | Male     |    34 | Beauty             |          3 |               50 |            150 |
|  1 | 2023-02-27 00:00:00 | Female   |    26 | Clothing           |          2 |              500 |           1000 |
|  2 | 2023-01-13 00:00:00 | Male     |    50 | Electronics        |          1 |               30 |             30 |
|  3 | 2023-05-21 00:00:00 | Male     |    37 | Clothing           |          1 |              500 |            500 |
|  4 | 2023-05-06 00:00:00 | Male     |    30 | Beauty             |          2 |               50 |            100 |